/*body {*/
    /*height: 800px;*/
/*}*/

.mapContainer {
    /*position: relative;*/
    width: 1203px;
    height: auto;
    /*display: inline-block;*/
    top: 25px;
    margin: auto;
}

#linkContainer {
    position: relative;
    width: 400px;
    height: 250px;
    display: inline-block;
    float: right;
}

#localAddressContainer {
    /*top: 271px;*/
    position: relative;
    /*top: 25px;*/
    right: 0px;
    height: 180px;
    width: 400px;
    /*border-top: 1px black solid;*/
    display: inline-block;
    float: right;
}

#capitolAddressContainer {
    /*top: 271px;*/
    position: relative;
    /*top: 25px;*/
    right: 0px;
    height: 180px;
    width: 400px;
    /*border-top: 1px black solid;*/
    display: inline-block;
    float: right;
}



.verticalLine {
    position: relative;
    left: 150px;
    height: 150px;
    width: 1px;
    border-left: 1px solid black;
    display: block;
}

.address {
    position: relative;
    display: block;
    text-align: left;
}

.leftAddressContainer {
    width: 275px;
    height: 100%;
    top: 0px;
    position: relative;
    /*display: inline-block;*/
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.1em;
}

.rightAddressContainer {
    width: 275px;
    height: 100%;
    top: 0px;
    position: relative;
    /*border-left: 1px black solid;*/
    display: inline-block;
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.1em;
}

.infoContainer {
    position: relative;
    padding: 10px;
}

.infoText {
    width: auto;
    max-width: 250px;

}

.photoContainer {
    text-align: center
}

.photo {
    margin: auto;
    max-width: 200px;
    max-height: 235px;
}

.mapNavbar {
    width: 1200px;
    margin: auto;
    text-align: center;
    height: 35px;
}

.mapToggle {
    /*border-bottom: 1px black solid;*/
    padding: 5px;
    /*text-decoration: underline;*/
    float: right;
    font-size: 1.1em;
    /*left: 15px;*/
    /*margin-left: 15px;*/
}

.activeMapToggle {
    text-decoration: underline;
}

.contentWrapper {
    width: 100%;
    margin: auto;
}

#repMap {
    display: block;
}

#senMap {
    display: none;
}

#conMap {
    display: none;
}

#bottomInfoContainer {
    width: 1200px;
    height: 200px;
    /*border-top: none;*/
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    margin: auto;
    /*float: right;*/
}

#legTitle {
    margin: auto;
    text-align: center;
}

#addressHeader {
    position: relative;
    top: 0px;
    height: 15px;
    padding: 10px;
    left: 400px;
    width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    /*float: right;*/
}

#navbarTitle {
    float: left;
    margin-left: 15px;
    padding: 5px;
    font-size: 1.2em;
}